# =========================
# OS
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE
# =========================

.idea/
.vscode/

*.iml

# =========================
# Logs
# =========================

logs/
*.log

# =========================
# Environment
# =========================

.env
.env.local
.env.*.local

# =========================
# Temporary
# =========================

tmp/
temp/
.postman/
postman/